html, body, img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: -20px;
    font-style: bold;
}

.centered {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: .1px .1px 5px black;
  margin-top: 50px;
  font-size: 4.5vw;
  font-style: oblique;
  font-weight: bold;
}

.container {
  text-align: center;
  position: relative;
}

.container-left {
  text-align: left;
  position: relative;
}